.cartContainer {
  display: flex;
  position: absolute;
  left: 11vw;
  top: 140%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 20vw;
  z-index: 20;
  height: 90vh;
  transition: transform 0.75s ease;
  background-color: rgba(0, 0, 0, 0.724);
  overflow: scroll;
}
