.cartContainer {
  display: flex;
  position: absolute;
  left: -300px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 250px;
  z-index: 20;
  height: 90vh;
  transition: transform 0.75s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border-right: rgb(0, 68, 255) solid 2px;
  border-top: rgb(0, 68, 255) solid 2px;
  overflow: scroll;
  padding: 10px;
}
.cartOpenStyles {
  transform: translateX(300px);
}
.noneStyles {
  margin: auto;
}
