.counterContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 2px;
  gap: 1vw;
  padding: 0.5vh;
  z-index: 10;
}
.icons {
  padding: 0;
  width: 10vw;
  border: white 1px solid;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.icons:hover {
  color: #ff4499;
  border: #ff4499 1px solid;
}
.iconsOriginalColor {
  background-color: black;
  color: white;
}

.iconsAfterColor {
  color: #ff4499;
}
