.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  gap: 1vw;
}

.icons {
  font-size: 2rem;
  cursor: pointer;
}
.iconContainer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputSelect {
  height: 4vh;
  width: 4vw;
  text-align: center;
  overflow: hidden;
}
.icons:hover {
  color: #ff4499;
}
