:root {
  --notification-size: 2vh;
}

.cartIcon {
  height: 4vh;
}
.cartParent {
  position: relative;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.inCart {
  position: absolute;
  z-index: 10;
  height: fit-content;
  width: calc(var(--notification-size) + (var(--notification-size) * 0.125));
  font-size: var(--notification-size);
  border: none;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  padding: 0.05vh;
  top: 0;
  right: 0;
}
