:root {
  --notification-size: 2vh;
  --pink-highlight: #ff4499;
  --blue-green-highlight: #00ffd2;
  --dark-blue-theme: #0a0047;
  --mid-blue-theme: #004687;
}

.cartIcon {
  height: 5vh;
}
.cartParent {
  position: relative;
  height: 6vh;
  width: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.inCart {
  position: absolute;
  z-index: 10;
  height: fit-content;
  width: calc(var(--notification-size) + (var(--notification-size) * 0.125));
  font-size: var(--notification-size);
  border: none;
  border-radius: 50%;
  color: var(--pink-highlight);
  background-color: var(--blue-green-highlight);
  text-align: center;
  padding: 0.05vh;
  top: 0;
  right: 0;
}
