.productImg {
  height: 25vh;
  z-index: 2;
}
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 40vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.762);
  color: black;
  overflow: hidden;
  padding: 1vh;
  border: solid 2px black;
}
.backgroundCircle {
  height: 25vh;
  width: 25vh;
  background-color: rgba(255, 255, 0, 0.906);
  border-radius: 50%;
  z-index: 2;
}
.textWrapping {
  text-align: center;
  overflow-wrap: normal;
  z-index: 2;
}
.priceAdding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price {
  color: red;
  z-index: 2;
}
