.productImg {
  height: 25vh;
  z-index: 2;
}
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 40vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  overflow: hidden;
  padding: 1vh;
  border: solid 2px white;
  border-radius: 5px;
  overflow: hidden;
}
.backgroundCircle {
  border-radius: 50%;
  z-index: 1;
}

.textWrapping {
  text-align: center;
  overflow-wrap: normal;
  z-index: 2;
}
.priceAdding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price {
  color: white;
  font-style: italic;
  z-index: 2;
}
