.productImg {
  height: 20vh;
}
.productName {
  color: white;
  font-weight: 500;
}

.productPrice {
  color: white;
  font-style: italic;
}
.remove {
  padding: 0;
}
.productWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.icons {
  width: 10vw;
  border: #ff4499 1px solid;
  background-color: rgba(0, 0, 0, 0.01);
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.icons:hover {
  color: white;
}
.iconsOriginalColor {
  background-color: rgba(0, 0, 0, 0.01);
  color: white;
}
