:root {
  --pink-highlight: rgb(222, 57, 131);
  --blue-green-highlight: rgb(0, 192, 157);
  --dark-blue-theme: #070124;
  --mid-blue-theme: #004687;
}

.mainProductImg {
  height: 85vh;
}
.circleFlair {
  position: absolute;
  background-color: rgba(0, 192, 157, 0.75);
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color 0.333s linear;
}
.circleFlairHover {
  background-color: rgba(222, 57, 131, 0.75);
}

.imgContainer {
  position: relative;
  height: 85vh;
  z-index: 10;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 85vh;
  width: 100vw;
  margin: 0;
  background-color: #140124;
  background-image: url('../../assets/bokeh.jpg');
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}
/* rgb(23, 3, 34) */
.productNameFont {
  font-size: 3rem;
  color: rgb(222, 57, 131);
}
.homeDescriptionP {
  font-size: 2rem;
}
.homeSubDescription {
  font-size: 1.5rem;
}
.socialsIcons {
  height: 5vh;
}
.socialsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.padding {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}
.innerLeft {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
