.storeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 92vh;
  gap: 1vh;
  background-image: url('../../assets/tokyonight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
