@font-face {
  font-family: 'FutureMoon';
  src: local('futuremoon'), url('./assets/fonts/futuremoon.ttf');
}
* {
  font-family: 'FutureMoon';
}

button,
button *,
button :after,
button :before,
button:after,
button:before {
  border: 0 solid;
  box-sizing: border-box;
}
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #00ffd2;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 25vh;
}
button:-moz-focusring {
  outline: auto;
}
button {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.original {
  background: #00ffd2;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s;
}
button:hover .original {
  transform: translateY(100%);
}
.letters {
  display: inline-flex;
}
.letters span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s, opacity 0.2s;
}
button:hover span {
  opacity: 1;
  transform: translateY(0);
}
button:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
button:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
button:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
button:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
button:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
