.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 15vw;
}
.theme {
  background-color: black;
  color: var(--mid-blue-theme);
}
