.flexSpace {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  max-width: 30vw;
  gap: 30px;
}
.theme {
  background-color: black;
  color: var(--mid-blue-theme);
  border-bottom: 2px solid white;
}
.innerLiText {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 5vh;
  max-width: 10vw;
  min-width: fit-content;
  font-size: 2rem;
  padding: 0.5vh;
  color: white;
}
.innerLiText:hover {
  color: yellow;
}
.logoText {
  font-size: 2rem;
}
