.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpace {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30vw;
  height: 8vh;
}
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: fit-content;
}
.theme {
  background-color: black;
  color: var(--mid-blue-theme);
  border-bottom: 2px solid white;
}
.innerLiText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 10vw;
  min-width: fit-content;
  font-size: 2rem;
  padding: 0.5vh;
  color: white;
}
.innerLiText:hover {
  color: yellow;
}
.logoText {
  font-size: 2rem;
}
